.register-inner{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.register-inner-box{
  margin-left: auto;
  margin-right: auto;
  display:  flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.register-h2{
  text-align: center;
  margin-top: 20px;
}


.error{
  color: red;
}